<div class="">
    <div class="col-12 barra-superior">
        <div class="barra-superior-content">
            <div class="link-div">
                <a href="https://usm.cl" target="_blank">USM.cl</a>
            </div>
            <div class="social-media">
                <a *ngFor="let link of socialLinks" [href]="link.url" target="_blank">
                    <img [src]="'/assets/icons/' + link.img" [alt]="link.name"/>
                </a>
            </div>
        </div>
    </div>
    <div class="col-12 barra-inferior">
        <div class="barra-inferior-content">
            <div class="logo-div">
                <img src="/assets/images/marca-vertical/marca-vertical.png" alt="Logo USM Horizontal"/>
                <hr>
                <img src="/assets/images/ELINF/Logo-ELINF.png" alt="Logo ELINF"/>
            </div>
            <div class="menu-div">
                <div *ngFor="let item of menuItems" class="menu-item">
                    <a [href]="item.url" class="menu-link">{{ item.name }}
                        <fa-icon  [icon]="faCaretDown" *ngIf="item.submenu" class="caret-down"></fa-icon>
                    </a>
                    <div *ngIf="item.submenu" class="submenu">
                        <div *ngFor="let subitem of item.submenu" class="submenu-item">
                            <a [href]="subitem.url">{{ subitem.name }}

                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
