<footer>
  <div class="footer-1">
    <div class="footer-1-content">
      <h4>© Departamento de Electrotecnia e Informática</h4>
      
      <p><b>Sede Viña del Mar</b>
        <br>
        Dirección: Av. Valparaíso 1234
        <br>
        +56912345678 - correoalgo.cl
      </p>
    </div>
    </div>
    <div class="footer-2">
      <div class="footer-2-content">
        <div class="w-100 row">
          <div class="col-12 col-lg-3 text-white">
            <h4 class="text-white fw-bold">UNIVERSIDAD</h4>
            <p>
              <a href="">Nuestra Historia</a>
            </p>
            <p>
                <a href="">Federico Santa María</a>
            </p>
            <p>
              <a href="">Definiciones Estratégicas</a>
            </p>
            <p>
              <a href="">Modelo Educativo</a>
            </p>
            <p>
              <a href="">Organización</a>
            </p>
            <p>
              <a href="">Información Estadística USM</a>
            </p>
            <h4 class="text-white fw-bold">CAMPUS Y SEDES</h4>
            <p>
              <a href="">Información Campus y Sedes</a>
            </p>
            <p>
              <a href="">Tour Virtual</a>
            </p>
          </div>
          <div class="col-12 col-lg-3">
            <h4 class="text-white fw-bold">EXTENSIÓN Y CULTURA</h4>
            <p>
              <a href="">
                Dirección General de Comunicaciones
              </a>
            </p>
            <p>
              <a href="">
                Dirección de Vinculación con el Medio
              </a>
            </p>
            <p>
              <a href="">
                Oficina de Asuntos Internacionales
              </a>
            </p>
            <p>
              <a href="">
                Red de Ex-Alumnos
              </a>
            </p>
            <p>
              <a href="">
                Noticias USM
              </a>
            </p>
            <p>
              <a href="">
                Eventos USM
              </a>
            </p>
            <p>
              <a href="">
                Radio USM
              </a>
            </p>
            <p>
              <a href="">
                Temporada Artística
              </a>
            </p>
          </div>
          <div class="col-12 col-lg-3">
            <h4 class="text-white fw-bold">SERVICIOS</h4>
            <p>
              <a href="">
                Aula USM
              </a>
            </p>
            <p>
              <a href="">
                Biblioteca USM
              </a>
            </p>
            <p>
              <a href="">
                Portal de Autoservicio Institucional
              </a>
            </p>
            <p>
              <a href="">
                Dirección de Tecnologías de la Información
              </a>
            </p>
            <p>
              <a href="">
                Portal de Reportes UDAI
              </a>
            </p>
            <p>
              <a href="">
                Sistema de Información de Gestión Académica
              </a>
            </p>
            <p>
              <a href="">
                Sistema Integrado de Información Financiera
              </a>
            </p>
            <p>
              <a href="">
                Sistema de Informe de Remuneraciones
              </a>
            </p>
            <p>
              <a href="">
                Directorio USM
              </a>
            </p>
            <p>
              <a href="">
                Trabaja con nosotros
              </a>
            </p>
          </div>
          <div class="col-12 col-lg-3"> 
            <img style="width: 200px;"
            src="/assets/icons/sello-acreditacion-2028.svg" alt="Sello de Acreditación">
          </div>
        </div>
        <div class="footer-logo">
          <a href="">
            <img src="../../assets/icons/usm_cl.svg" alt="Logo USM">
          </a>
          <div class="social-icons">
            <a href="">
              <fa-icon [icon]="facebook"></fa-icon>
            </a>
            <a href="">
              <fa-icon [icon]="twitter"></fa-icon>
            </a>
            <a href="">
              <fa-icon [icon]="instagram"></fa-icon>
            </a>
            <a href="">
              <fa-icon [icon]="linkedin"></fa-icon>
            </a>
            <a href="">
              <fa-icon [icon]="youtube"></fa-icon>
            </a>
          </div>
        </div>
      </div>
    </div> 
    <div class="footer-3">
      <div class="content">

        <div>
          <p>Sitio Sitio web administrado por el <strong>
            <a href="">
              Departamento de Electrotecnia e Informática
            </a>
          </strong></p>
        </div>
        <div>
          <p>Desarrollado por <strong>
            <a href="">
              Departamento de Electrotecnia e Informática
            </a>
          </strong></p> 
        </div>
      </div>
    </div>
</footer>