<footer>
  <div class="footer-1">
    <div class="footer-1-content">
      <h4>© Departamento de Electrotecnia e Informática</h4>
      
      <p><b>Sede Viña del Mar</b>
        <br>
        Dirección: Av. Valparaíso 1234
        <br>
        +56912345678 - correoalgo.cl
      </p>
    </div>
    </div>
    <div class="footer-2">
      <div class="footer-2-content">
        <div class="information-list">
          <div class="information-column">
            <h4>UNIVERSIDAD</h4>
            <p>
              <a href="">Nuestra Historia</a>
            </p>
            <p>
                <a href="">Federico Santa María</a>
            </p>
            <p>
              <a href="">Definiciones Estratégicas</a>
            </p>
            <p>
              <a href="">Modelo Educativo</a>
            </p>
            <p>
              <a href="">Organización</a>
            </p>
            <p>
              <a href="">Información Estadística USM</a>
            </p>
            <h4>CAMPUS Y SEDES</h4>
            <p>
              <a href="">Información Campus y Sedes</a>
            </p>
            <p>
              <a href="">Tour Virtual</a>
            </p>
          </div>
          <div>
            <h4>EXTENSIÓN Y CULTURA</h4>
            <p>
              <a href="">
                Dirección General de Comunicaciones
              </a>
            </p>
            <p>
              <a href="">
                Dirección de Vinculación con el Medio
              </a>
            </p>
            <p>
              <a href="">
                Oficina de Asuntos Internacionales
              </a>
            </p>
            <p>
              <a href="">
                Red de Ex-Alumnos
              </a>
            </p>
            <p>
              <a href="">
                Noticias USM
              </a>
            </p>
            <p>
              <a href="">
                Eventos USM
              </a>
            </p>
            <p>
              <a href="">
                Radio USM
              </a>
            </p>
            <p>
              <a href="">
                Temporada Artística
              </a>
            </p>
          </div>
          <div>
            <h4>SERVICIOS</h4>
            <p>
              <a href="">
                Aula USM
              </a>
            </p>
            <p>
              <a href="">
                Biblioteca USM
              </a>
            </p>
            <p>
              <a href="">
                Portal de Autoservicio Institucional
              </a>
            </p>
            <p>
              <a href="">
                Dirección de Tecnologías de la Información
              </a>
            </p>
            <p>
              <a href="">
                Portal de Reportes UDAI
              </a>
            </p>
            <p>
              <a href="">
                Sistema de Información de Gestión Académica
              </a>
            </p>
            <p>
              <a href="">
                Sistema Integrado de Información Financiera
              </a>
            </p>
            <p>
              <a href="">
                Sistema de Informe de Remuneraciones
              </a>
            </p>
            <p>
              <a href="">
                Directorio USM
              </a>
            </p>
            <p>
              <a href="">
                Trabaja con nosotros
              </a>
            </p>
          </div>
          <div>
            <img src="" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="footer-3">
      </div>
</footer>