.redes-sociales {
    display : flex;
    gap: 10px;
    width: 100%;
    word-spacing: 10px;
}

.redes-sociales-item {
    height: 2.25rem;
    border: 2px solid;
    display: flex;
    border-radius: 99.9rem;
    margin-bottom: 10px;
    word-break: break-word;
    align-items: center;
    vertical-align: middle;
    cursor: pointer;
}

.icon {
    font-size: 1rem;
    margin-right: 10px;
    margin-left: 10px;
}

.icon-text {
    font-size: 0.75rem;

    margin-right: 10px;
}

.redes-sociales-title {
    font-size: 1.3125rem;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 20px;
    margin-right: 16px;
    margin-top: 0;
}
.redes-sociales-divider {
    border-top: 1px dashed black !important;
    margin-top: 30px !important;
    padding-bottom: 30px !important;
    margin: 0;
}