<app-hero
    height="370px"
    backgroundImage="images/fotografias/SVM/svm_1.jpg"
    title="Admisión">
</app-hero>
<div class="content">

    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio magnam nihil corrupti reiciendis voluptate quo in repellendus tempore eaque, explicabo sapiente obcaecati qui sunt natus. Dolorum reiciendis facilis modi ab.
        Repellat debitis eum quibusdam earum ut, ipsum incidunt possimus laboriosam aliquid, delectus velit molestias voluptatibus quisquam veniam consectetur hic sequi! Qui tempore deserunt eum, consectetur est officia inventore cupiditate magni!
        Corrupti reiciendis quis voluptatum, possimus tempore voluptatibus! Illo officia, nihil dicta beatae voluptatibus eum, odio tempore distinctio libero, eveniet odit sequi pariatur exercitationem ea eius similique id nobis veniam neque.
        Autem est culpa, neque laudantium officia cupiditate explicabo consectetur, asperiores corporis harum laborum quasi, nobis a dolorem illum nihil? Dolorem reprehenderit neque minima in est fugiat inventore, explicabo voluptas recusandae!
    </p>

    <div class="titulo fw-bold">
        <h2>Diurno
        </h2>
    </div>
    <div class="mb-3">
        <h3 class="fw-bold">Ingeniería en Informatica</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod.
        </p>
        <ul>
            <li>Asignatura 1</li>
            <li>Asignatura 2</li>
            <li>Asignatura 3</li>
        </ul>
        <a href="/carreras/ingenieria-en-informatica">
            Ver más
        </a>
    </div>
    <div class="mb-5">
        <h3 class="fw-bold">Técnico Universitario en Informática</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod.
        </p>
        <ul>
            <li>Asignatura 1</li>
            <li>Asignatura 2</li>
            <li>Asignatura 3</li>
        </ul>
        <a href="/carreras/ingenieria-en-informatica">
            Ver más
        </a>
    </div>
    <div class="titulo2">
        <h2 class="text-white align-center fw-bold m-auto">Vespertino
        </h2>
    </div>
    <div class="mb-5">
        <h3 class="fw-bold">Ingeniería Vespertina en Informática</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod.
        </p>
        <ul>
            <li>Asignatura 1</li>
            <li>Asignatura 2</li>
            <li>Asignatura 3</li>
        </ul>
        <a href="/carreras/ingenieria-en-informatica">
            Ver más
        </a>
    </div>
</div>
