.content{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.titulo {
    background-color: var(--azul);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 20px;
}
.titulo h2{
    color: white;
    text-align: center;
    margin: 0
}