<app-hero 
    height="370px"
     backgroundImage="images/fotografias/SVM/svm_6.jpg"
    title="Quiénes somos">
</app-hero>
<div class="content">
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto dolorem, vel quisquam et id perferendis accusantium unde nisi neque ea, excepturi sed autem quo repellat? Quasi exercitationem mollitia reprehenderit ad.
        Ducimus explicabo animi alias laborum ut. Iusto tempore rerum accusantium sequi repellat eaque harum labore repellendus perspiciatis laudantium voluptas porro, reiciendis iste quam reprehenderit eius impedit nisi consectetur, qui unde.
        Sapiente illo quo voluptatibus, eveniet quidem doloribus officiis repudiandae itaque cum, distinctio necessitatibus repellendus quasi, facere consectetur. Corporis, nobis, porro dolorum natus, dolores at dolore eum quo sapiente deleniti omnis?
    </p>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, blanditiis, dolorum quas hic reiciendis, ratione amet obcaecati perspiciatis maxime laboriosam quaerat itaque perferendis corporis ducimus non at ex aliquid odio!
        Dolor, deserunt delectus pariatur perspiciatis quaerat ut veritatis fugiat perferendis aperiam facere iste reprehenderit, minus nobis suscipit et eligendi commodi, expedita exercitationem voluptate est! Quis accusantium dolorem magnam dolores placeat!
        Perferendis amet magnam quidem consequuntur fugiat? Praesentium natus culpa repudiandae doloribus sint laudantium sunt. Inventore dolor sit sint repellat atque temporibus aspernatur hic, excepturi numquam aliquam at iste tempora unde.
        Beatae assumenda sint quod, architecto maxime eum iste, optio odio vitae facilis ex! Obcaecati suscipit saepe repellat eos nam reiciendis cumque deleniti modi reprehenderit? Laboriosam perferendis dicta neque sit illo!

    </p>

    <h3>Misión</h3>

    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel consequuntur, sequi iure iusto temporibus odit repellat doloremque praesentium excepturi repellendus laudantium veniam incidunt eos, reprehenderit cumque? Sed error inventore quis!
        Aspernatur accusantium, dolores eum ullam distinctio nam beatae voluptas sequi. Labore sit, dolores ipsam praesentium eligendi rerum. Tenetur, mollitia laborum. Ducimus cupiditate numquam veritatis aliquam recusandae illo corrupti, nemo distinctio.
    </p>

    <h3>Visión</h3>

    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel consequuntur, sequi iure iusto temporibus odit repellat doloremque praesentium excepturi repellendus laudantium veniam incidunt eos, reprehenderit cumque? Sed error inventore quis!
        Aspernatur accusantium, dolores eum ullam distinctio nam beatae voluptas sequi. Labore sit, dolores ipsam praesentium eligendi rerum. Tenetur, mollitia laborum. Ducimus cupiditate numquam veritatis aliquam recusandae illo corrupti, nemo distinctio.
    </p>

    <h3 >Nuestro equipo</h3>


    <app-accordeon title="Administrativos">
         <div>
            <h4>Finanzas</h4>
        <app-people-card
            name="John Doe"
            title="Software Engineer"
            email="john.doe@example.com"
            office="Viña del Mar"
            backgroundImage="assets/images/fondo-campus/fondo_viña.png">
        </app-people-card>
    </div>
    </app-accordeon>

    <app-accordeon title="Jefes de Carrera">
         <div>

        <h4>Ingeniería en Informática</h4>
        <app-people-card
            name="John Doe"
            title="Software Engineer"
            email="john.doe@example.com"
            office="Viña del Mar"
            backgroundImage="assets/images/fondo-campus/fondo_viña.png">
        </app-people-card>

        <h4>Técnico Universitario en Informática</h4>
        <app-people-card
            name="John Doe"
            title="Software Engineer"
            email="john.doe@example.com"
            office="Viña del Mar"
            backgroundImage="assets/images/fondo-campus/fondo_viña.png">
        </app-people-card>
    </div>
    </app-accordeon>


    <app-accordeon title="Docentes">
    <div>
        <app-people-card
            name="John Doe"
            title="Software Engineer"
            email="john.doe@example.com"
            office="Viña del Mar"
            backgroundImage="assets/images/fondo-campus/fondo_viña.png">
        </app-people-card>
    </div>
</app-accordeon>

<div>
    <h3>Universidad</h3>
    
    <p>
        La Universidad se funda a partir de la voluntad testamentaria del filántropo, visionario y emprendedor Federico Santa María Carrera, quién legó su fortuna para dotar al país de una institución que entregue una formación humana, científica y profesional centrada en principios y valores universales, liderando en la enseñanza de la ingeniería, ciencia y tecnología.
    </p>
</div>

</div>
