<app-hero 
  title="Técnico Universitario en Informática"
  description="Descripción de la carrera de Técnico Universitario en Informática."
   backgroundImage="images/fotografias/SVM/svm_4.jpg"
></app-hero>
<div class="content row">
    <div class="col-12 col-lg-8">

        <h3>Plan de Estudios</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo quos quae cupiditate atque pariatur natus tempore quis ea nemo, maiores autem! Exercitationem ex enim saepe esse fugit quibusdam nemo accusamus.
            Inventore accusamus ad earum quisquam ut perspiciatis laborum, soluta explicabo itaque cupiditate eum error molestiae blanditiis fuga sapiente quaerat suscipit molestias natus rem debitis? Temporibus enim reprehenderit cumque ipsa voluptatum?</p>
    <div>
        <img src="" alt="">
    </div>
    <h3>Perfil de Egreso</h3>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus, autem maxime! Hic ducimus adipisci amet iure quam corporis sunt alias eveniet quaerat minima dolore rerum, excepturi quas quo asperiores quia.
    Ad minima, qui ea, ipsum ut reiciendis quidem harum corrupti non deleniti aspernatur voluptate labore sunt dolorem nostrum aliquid corporis illum. Libero soluta quos, asperiores reprehenderit rerum molestias architecto ea?</p>
    <h3>Campo Laboral</h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti, quasi. Vel accusamus enim officiis laboriosam temporibus ea dolorem optio tempora distinctio cupiditate, amet similique at. Facilis tenetur odio quibusdam fuga.
    Perferendis, quia, ullam nisi dolor tempora fugit, culpa cum quas sed earum magnam? Iste, totam. Consectetur possimus porro veritatis, magni adipisci corporis temporibus necessitatibus repellat architecto fugiat quos culpa ducimus.
    Aliquid nobis itaque eos inventore pariatur ratione tempore dolore sunt sed quis eum error cupiditate, odio perferendis omnis recusandae veniam quasi! Molestiae quos suscipit, quo non beatae corrupti debitis vero!</p>
    <h3>Malla Curricular</h3>
    <div class="col-12">
        <img src="../../assets/images/fotografias/SVM/svm_2.jpg" class="img-fluid" alt="">
    </div>
</div>
    <div class="col-12 col-lg-4">
        <div class="info-cards">
        <div class="info-card">
            <h4>Información General</h4>
            <div class="info-item">
                <span class="label">Título Profesional:</span>
                <span class="value">placeholder</span>
            </div>
            <div class="info-item">
                <span class="label">Grado Académico:</span>
                <span class="value">placeholder</span>
            </div>
            <div class="info-item">
                <span class="label">Duración:</span>
                <span class="value">placeholder</span>
            </div>
            <div class="info-item">
                <span class="label">Régimen:</span>
                <span class="value">Diurno</span>
            </div>
        </div>

        <!-- Aranceles -->
        <div class="info-card">
            <h4>Aranceles y Matrícula 2025</h4>
            <div class="info-item">
                <span class="label">Arancel:</span>
                <span class="value">placeholder (CLP)</span>
            </div>
            <div class="info-item">
                <span class="label">Matrícula Semestral:</span>
                <span class="value">placeholder (CLP)</span>
            </div>
            <div class="info-item">
                <span class="label">Matrícula Anual:</span>
                <span class="value">placeholder (CLP)</span>
            </div>
        </div>

        <!-- Sedes y Códigos -->
        <div class="info-card">
            <h4>Sedes y Códigos</h4>
            <div class="info-item">
                <span class="label">Sede Viña del Mar:</span>
                <span class="value">Código 15180</span>
            </div>
            <div class="info-item">
                <span class="label">Sede Concepción:</span>
                <span class="value">Código 15380</span>
            </div>
        </div>

        <!-- Vacantes y Puntajes -->
        <div class="info-card">
            <h4>Vacantes y Puntajes 2025</h4>
            <div class="info-item">
                <span class="label">Vacantes Casa Central:</span>
                <span class="value">80</span>
            </div>
            <div class="info-item">
                <span class="label">Vacantes San Joaquín:</span>
                <span class="value">70</span>
            </div>
            <div class="info-item">
                <span class="label">Puntaje Ponderado Mínimo:</span>
                <span class="value">550</span>
            </div>
        </div>

        <!-- Puntajes de Selección -->
        <div class="info-card">
            <h4>Puntajes de Selección 2024</h4>
            <div class="info-item">
                <span class="label">Máximo Sede Viña del Mar:</span>
                <span class="value">937,0</span>
            </div>
            <div class="info-item">
                <span class="label">Máximo Sede Concepción:</span>
                <span class="value">905,1</span>
            </div>
            <div class="info-item">
                <span class="label">Mínimo Sede Viña del Mar:</span>
                <span class="value">731,0</span>
            </div>
            <div class="info-item">
                <span class="label">Mínimo Sede Concepción:</span>
                <span class="value">760,1</span>
            </div>
        </div>

        <!-- Ponderaciones -->
        <div class="info-card">
            <h4>Ponderaciones PAES</h4>
            <div class="info-item">
                <span class="label">NEM:</span>
                <span class="value">15%</span>
            </div>
            <div class="info-item">
                <span class="label">Ranking:</span>
                <span class="value">25%</span>
            </div>
            <div class="info-item">
                <span class="label">Competencia Matemática 1:</span>
                <span class="value">40%</span>
            </div>
            <div class="info-item">
                <span class="label">Competencia Lectora:</span>
                <span class="value">10%</span>
            </div>
            <div class="info-item">
                <span class="label">Ciencias o Historia:</span>
                <span class="value">10%</span>
            </div>
        </div>
    </div>
    </div>
    
</div>
