<app-hero
    height="370px"
     backgroundImage="images/fotografias/SVM/svm_3.jpg" 
    title="Práctica">
</app-hero>
<div class="content">

    <h3>Titulación</h3>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore voluptate veritatis expedita perspiciatis suscipit consequuntur inventore voluptatum repellat minima velit voluptates, voluptas hic molestias officia, vel saepe reiciendis est iure!
        Illum enim corrupti laboriosam sunt, quibusdam, eius non eum reprehenderit cupiditate laudantium eaque accusantium? Incidunt, dicta, aliquam nihil eius quisquam asperiores ducimus minus tenetur odit quas nobis fugit eum voluptas.
    </p>

    <app-accordeon title="¿Qué es la titulación?">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam fugit alias nulla itaque officiis tempore eveniet eligendi, harum odio corporis veritatis nisi saepe, officia temporibus atque magni vitae perferendis? Dolorem.
            Vitae tempora numquam maxime quasi debitis illo enim culpa, tenetur dolores et id quae molestiae quisquam nisi fugit architecto asperiores quas ad aliquam laudantium? Omnis atque iusto explicabo eius enim!
        </p>
        <ul>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatibus!</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatibus!</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatibus!</li>
        </ul>
    </app-accordeon>

    <app-accordeon title="Requisitos para la titulación">
        <p>
            Para realizar la titulación, los estudiantes deben seguir una serie de pasos que incluyen la búsqueda de una empresa, la postulación a la práctica, la entrevista y la selección final.
        </p>
        <ol>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatibus!</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatibus!</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatibus!</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatibus!</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatibus!</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatibus!</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatibus!</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatibus!</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatibus!</li>
        </ol>
    </app-accordeon>

    <app-accordeon title="Finalización de la titulación">
        <p>
            Al finalizar la titulación, los estudiantes deben presentar un informe final que detalle las actividades realizadas, los aprendizajes obtenidos y las habilidades desarrolladas durante el período de titulación.
        </p>
        <ul>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatibus!</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatibus!</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatibus!</li>
        </ul>
    </app-accordeon>
</div>
