<app-hero 
    height="500px"
    backgroundImage="images/fotografias/SVM/svm_4.jpg"
    title="Departamento de Electrotecnia e Informática"
    subtitle="Sede Viña del Mar">
</app-hero>
<div class="content">
    <div class="noticias">
        <h2>
           Noticias</h2>
        <a href="/noticias">
            Ver todo
            <fa-icon [icon]="faArrowCircleRight" class="icon"></fa-icon>
        </a>
    </div>
    <!-- div noticias -->
    <div class="cards">
        <div *ngFor="let card of cards" class="card">
            <h4>{{ card.title }}</h4>
            <span>{{ card.date }}</span>
        </div>
    </div>

</div>
<app-eventos></app-eventos>