<app-hero 
    height="500px"
    backgroundImage="images/fotografias/SVM/svm_4.jpg"
    title="Departamento de Electrotecnia e Informática"
    subtitle="Sede Viña del Mar">
</app-hero>
<div class="content">
    <div class="noticias">
        <h2>
           Noticias</h2>
        <a href="/noticias">
            Ver todo
            <fa-icon [icon]="faArrowCircleRight" class="icon"></fa-icon>
        </a>
    </div>
    <!-- div noticias -->
    <div class="cards">
        <div *ngFor="let card of cards" class="card">
            <h4>{{ card.title }}</h4>
            <span>{{ card.date }}</span>
        </div>
    </div>

</div>
<app-eventos></app-eventos>

<div class="content">
    <h2 style="text-align: center;">Síguenos en nuestras redes sociales</h2>

    <div class="social-media">
        <a href="https://www.facebook.com/USM.cl" target="_blank">
            <fa-icon [icon]="faFacebook" class="social-icon facebook"></fa-icon>
        </a> 
        <a href="https://twitter.com/usm_cl" target="_blank">
            <fa-icon [icon]="faTwitter" class="social-icon twitter"></fa-icon>
        </a>
        <a href="https://www.instagram.com/usm.cl/" target="_blank">
            <fa-icon [icon]="faInstagram" class="social-icon instagram"></fa-icon>
        </a>
        <a href="https://www.linkedin.com/school/universidad-t%C3%A9cnica-federico-santa-marbella/" target="_blank">
            <fa-icon [icon]="faLinkedin" class="social-icon linkedin"></fa-icon>
        </a>
        <a href="https://www.youtube.com/user/USMChile" target="_blank">
            <fa-icon [icon]="faYoutube" class="social-icon youtube"></fa-icon>
        </a>
    </div>

</div>