<app-hero 
    height="370px"
    backgroundImage="{{ new?.image }}"
    title="{{ new?.title }}">
</app-hero>
<div class="content">
    <div class="row">
        <div class="col-12 col-lg-8">
            <div [innerHTML]="new?.description"></div>
            <app-redes-sociales-noticias></app-redes-sociales-noticias>
            <div class="row " *ngIf="recommendedNews.length > 0">
                <div class="col d-flex align-items-center noticia-nav">
                    <div>
                        <fa-icon [icon]="faChevronLeft" class="chevron"></fa-icon>
                    </div>
                    <div>
                        <div>
                            <strong class="">Anterior</strong>
                        </div>
                        <span>{{ recommendedNews[0]?.title }}</span>
                    </div>
                </div>
                <div class="col d-flex align-items-center justify-content-between noticia-nav" *ngIf="recommendedNews.length > 1">
                    <div class="flex-fill">
                        <div class="d-flex justify-content-end">
                            <strong >Siguiente</strong>
                        </div>
                        <span>{{ recommendedNews[1]?.title }}</span>
                    </div>
                    <div>
                        <fa-icon [icon]="faChevronRight" class="chevron"></fa-icon>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-12 col-lg-4">
            <app-noticias-recomendadas> </app-noticias-recomendadas>
        </div>

    </div>



</div>